body {
    background-color: #4E0080;
     background-image: url(../_imagens/goku.png);
     background-repeat: no-repeat;
     background-position: right;
}

h1 {
    text-align: center;
    font-family:cursive;
    background-color: #8C0789;
    border-style: dashed;
    border-color: #CE9D3E;
    color:#CE9D3E;
    border-radius: 8px;
}

fieldset {
    color: white;
    border: 3px solid #FCD936;
}

.dados_pessoais input{
    width: 1000px;
    height: 25px;
    border-radius: 8px;
}

.dados_pessoais select {
    width: 500px;
    height: 25px;
    border-radius: 5px;
}

.dados_extras select {
    width: 500px;
    height: 25px;
    border-radius: 5px;
}

textarea {
    height: 150px;
    width: 1000px;
}

#botoes {
    background-color: #9C31C9;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

input[type=text],
input[type=number]{
    padding: 6px 8px;
    width: 120;
    border-radius: 10px;
    font-size: 20px;
}

input[type=text]:focus,
input[type=number]:focus{
    background-color: lightpink;
}